*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  /* background-image: url('../img/back-ground/1.jpg'); */
  /* background-color: rgb(168, 167, 167); */
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;
}

.container {
  max-width: 1170px;
  padding: 15px;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: rgb(84, 84, 187);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

.header {
  width: 100%;
  height: 150px;
  box-shadow: 1px 0px 10px grey;
  background-image: url('../img/back-ground/logo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.bg {
  width: 100%;
  height: 150px;
  background-color: rgba(65, 65, 65, 0.404);
}

.header_text {
  position: relative;
  color: #fff;
  letter-spacing: 1px;
  font-size: 9px;
  top: 10px;
  opacity: 0;
  background-color: #000;
  width: 80px; /* поддерживаются любые единицы, в том числе проценты */
  margin: 1em auto;
  background: #000;
  border-radius: 50%;
  text-align: center;
  margin-top: 25px;
}

.header_text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}

.active_title {
  top: 0;
  opacity: 1;
  transition: 0.4s ease 0s;
  font-size:10px;
}

.contacts {
  position: relative;
  top: 130px;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.contacts_name {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: bold;
}

.sub_contacts {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.contacts_icon img {
  width: 20px;
  margin-right: 15px;
}

.contacts_text {
  color: grey !important;
}

.menu {
  width: 100%;
  min-height: 100%;
  padding: 0px 15px;
  position: relative;
  top: 120px;
  padding-bottom: 15px;
}

.menu_submenu {
  width: inherit;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 10px black;
  border-radius: 15px;
}

.menu_kichen {
  background-image: url('../img/main_page/photo_2022-10-30_22-18-54.jpg');
}

.menu_bar {
  background-image: url('../img/main_page/IMG_5402.JPG');
  background-position: 0px -180px;
}

.menu_categories {
  display: none;
  opacity: 0;
}

.active {
  display: block;
  animation: showCategories;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: .1s;
  animation-fill-mode: forwards;
}

@keyframes showCategories {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu_first {
  background-image: url('../img/first_eat/photo_2022-10-30_22-05-21.jpg');
}

.menu_salats {
  background-image: url('../img/salats/1.jpg');
}

.menu_bruskets {
  background-image: url('../img/bruscet/IMG_0580.JPG');
}

.menu_garnirs {
  background-image: url('../img/garnirs/dipi_cheder.jpg');
}

.menu_cold_appetizers {
  background-image: url('../img/cold_appetizers/photo_2022-10-30_22-05-28\ \(2\).jpg');
}

.menu_hot_appetizers {
  background-image: url('../img/hot_appetizers/photo_2022-10-30_22-05-25\ \(2\).jpg');
}

.menu_odesa-delicateses {
  background-image: url('../img/main/photo_2022-10-30_22-05-27.jpg');
}

.menu_main {
  background-image: url('../img/main/IMG_5057.JPG');
}

.menu_burgers {
  background-image: url('../img/burgers/IMG_4747.JPG');
}

.menu_for-companies {
  background-image: url('../img/for_companies/IMG_0567.JPG');
}

.menu_deserts {
  background-image: url('../img/deserts/IMG_4738.JPG');
}

.menu_coffe {
  background-image: url('../img/bar/photo_2022-10-30_22-05-15\ \(2\).jpg');
  background-position: 0px -85px;
}

.menu_tia {
  background-image: url('../img/bar/photo_2022-10-30_22-05-19.jpg');
}

.menu_not-alcohol {
  background-image: url('../img/bar/Pepsi-scaled.jpg');
}

.menu_alcohol {
  background-image: url('../img/bar/jameson.jpg');
}

.menu_alcohol-coctails {
  background-image: url('../img/bar/photo_2022-10-30_22-05-16\ \(2\).jpg');
}

.menu_background {
  background-color: rgba(65, 65, 65, 0.404);
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  border-radius: 15px;
}

.menu_title {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.menu_categories_list {
  display: flex;
  flex-direction: column;
}

.menu_categories_item {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(158, 158, 158);
  align-items: center;
}

.menu_categories_item:not(:last-child) {
  margin-bottom: 10px;
}

.menu_item_img {
  min-width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: -4px 3px 12px black;
}

.salat1 {
  background-image: url('../img/salats/1.jpg');
}

.salat2 {
  background-image: url('../img/salats/2.jpg');
}

.salat3 {
  background-image: url('../img/salats/3.jpg');
}

.salat4 {
  background-image: url('../img/salats/4.jpg');
}

.salat5 {
  background-image: url('../img/salats/5.jpg');
}

.salat6 {
  background-image: url('../img/salats/6.jpg');
}

.salat7 {
  background-image: url('../img/salats/7.jpg');
}

.salat8 {
  background-image: url('../img/salats/8.jpg');
}

.first1 {
  background-image: url('../img/first_eat/photo_2022-10-30_22-05-21.jpg');
}

.first2 {
  background-image: url('../img/first_eat/IMG_1368.JPG');
}

.first3 {
  background-image: url('../img/first_eat/photo_2022-10-30_22-05-32\ \(2\).jpg');
}

.first4 {
  background-image: url('../img/first_eat/gribniy.jpg');
}

.bruskets1 {
  background-image: url('../img/bruscet/IMG_0580.JPG');
}

.bruskets2 {
  background-image: url('../img/bruscet/photo_2022-10-31_02-48-57.jpg');
}

.bruskets3 {
  background-image: url('../img/bruscet/photo_2022-10-30_22-05-26.jpg');
}

.cold_appetizers1 {
  background-image: url('../img/cold_appetizers/kamamber.jpg');
}

.cold_appetizers2 {
  background-image: url('../img/cold_appetizers/tartar.jpg');
}

.cold_appetizers3 {
  background-image: url('../img/for_companies/IMG_0567.JPG');
}

.cold_appetizers4 {
  background-image: url('../img/cold_appetizers/photo_2022-10-30_22-05-28\ \(2\).jpg');
}

.cold_appetizers5 {
  background-image: url('../img/cold_appetizers/photo_2022-10-31_03-01-47.jpg');
}

.cold_appetizers6 {
  background-image: url('../img/cold_appetizers/photo_2022-10-31_03-01-48.jpg');
}

.cold_appetizers7 {
  background-image: url('../img/hot_appetizers/IMG_5081.JPG');
}

.cold_appetizers8 {
  background-image: url('../img/cold_appetizers/IMG_4427.JPG');
}

.hot1 {
  background-image: url('../img/hot_appetizers/photo_2022-10-30_22-05-25\ \(2\).jpg');
}

.hot2 {
  background-image: url('../img/hot_appetizers/photo_2022-10-31_03-16-48.jpg');
}

.hot3 {
  background-image: url('../img/hot_appetizers/photo_2022-10-31_03-16-48\ \(2\).jpg');
}

.odesa1 {
  background-image: url('../img/main/barabulya.jpg');
}

.odesa2 {
  background-image: url('../img/images.png');
}

.odesa3 {
  background-image: url('../img/main/photo_2022-10-30_22-05-27.jpg');
}

.odesa4 {
  background-image: url('../img/main/IMG_2138.JPG');
}

.odesa5 {
  background-image: url('../img/main/IMG_5053.JPG');
}

.odesa6 {
  background-image: url('../img/main/tigrovi_krevetki.jpg');
}

.odesa7 {
  background-image: url('../img/images.png');
}

.odesa8 {
  background-image: url('../img/main/photo_2022-10-30_22-05-35.jpg');
}

.odesa9 {
  background-image: url('../img/main/photo_2022-10-30_22-05-36\ \(2\).jpg');
}

.main1 {
  background-image: url('../img/main/svinina.jpg');
}

.main2 {
  background-image: url('../img/main/photo_2022-10-30_22-05-38.jpg');
}

.main3 {
  background-image: url('../img/main/IMG_5057.JPG');
}

.main4 {
  background-image: url('../img/main/kurka.jpg');
}

.main5 {
  background-image: url('../img/images.png');
}

.main6 {
  background-image: url('../img/images.png');
}

.main7 {
  background-image: url('../img/main/rebra.jpg');
}

.main8 {
  background-image: url('../img/images.png');
}

.burger1 {
  background-image: url('../img/burgers/IMG_4756.JPG');
}

.burger2 {
  background-image: url('../img/burgers/IMG_4743.JPG');
}

.burger3 {
  background-image: url('../img/burgers/IMG_4747.JPG');
}

.burger4 {
  background-image: url('../img/images.png');
}

.garnirs1 {
  background-image: url('../img/garnirs/dipi_cheder.jpg');
}

.garnirs2 {
  background-image: url('../img/garnirs/dipi2.jpg');
}

.garnirs3 {
  background-image: url('../img/images.png');
}

.garnirs4 {
  background-image: url('../img/images.png');
}

.companies1 {
  background-image: url('../img/for_companies/photo_2022-10-30_22-05-20.jpg');
}

.companies2 {
  background-image: url('../img/for_companies/sitiy_hlop.JPG');
}

.companies3 {
  background-image: url('../img/for_companies/IMG_0591.JPG');
}

.desert1 {
  background-image: url('../img/deserts/IMG_4738.JPG');
}

.desert2 {
  background-image: url('../img/deserts/IMG_5083.JPG');
}

.desert3 {
  background-image: url('../img/deserts/4.jpg');
}

.desert4 {
  background-image: url('../img/deserts/3.jpg');
}

.menu_item_info {
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.menu_item_title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  /* color: white; */
}

.menu_item_description {
  margin-top: 20px;
  margin-bottom: 20px ;
  color: grey;
  font-size: 14px;
  /* color: white; */
}

.menu_item_price {
  font-size: 12px;
  /* color: white; */
  margin-left: auto;
}

.bar_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bar_list .bar_item{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid grey;
  font-size: 14px;
}

.menu_categories_title {
  font-size: 16px;
  text-align: center;
  margin: 15px 0px;
  font-weight: bold;
}